@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "~bootstrap/scss/bootstrap";

body {
    @extend .mb-5;
    @extend .bg-light;
    @extend .mx-auto;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

#toolbar {
    @extend .pt-5;
    @extend .px-3;
    @extend .bg-light;
    @extend .text-center;
    @extend .text-dark;
    @extend .vstack;

    &.collapsed {
        @extend .p-3;
        @extend .shadow;
        @extend .sticky-top;
        @extend .hstack;
        @extend .gap-1;
        @extend .align-items-baseline;

        @include media-breakpoint-down(sm) {
            h1 {
                width: 100%;
            }

            h3 {
                display: none;
            }
        }

        h3:not(:last-child)::after {
            @extend .mx-2;
            content: "\a0\b7"
        }
    }

    .title {
        font-family: "Arizonia", cursive;
        @extend .display-5;
        @extend .fw-bold;
        @extend .px-5;

        .ampersand {
            @extend .text-danger
        }
    }

    h3 {
        font-family: "Bebas Neue", cursive;
        @extend .text-center;
        @extend .align-middle;
        @extend .text-body;
        @extend .text-uppercase;
    }
}

.section {
    @extend .container-md;
    margin: 3rem auto 8rem auto;
    max-width: 1024px;

    h4 {
        @extend .text-uppercase;
        @extend .text-center;
        @extend .fw-bold;
        @extend .my-5;
    }
}

.gallery {
    @extend .p-0;
    @extend .shadow;

    img {
        @extend .w-100;
        @extend .d-block;
        @extend .rounded-3;
    }
}

.events {
    @extend .shadow;
    @extend .p-5;

    img.bitmoji {
        @extend .mx-auto;
        @extend .d-block;
        @extend .rounded-circle;
        @extend .border-3;
        @extend .border;
        @extend .shadow;
    }

    .date {
        @extend .row;
        @extend .my-5;

        .event {
            @extend .hstack;
            @extend .my-3;

            img {
                @extend .me-3;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .description {
                @extend .h-100;
                @extend .ps-3;
                @extend .border-start;
                @extend .border-2;

                @include media-breakpoint-down(sm) {
                    border: none !important;
                    padding: 0 !important;
                }
            }
        }
    }
}


