@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "~bootstrap/scss/bootstrap";

body {
    @extend .bg-light;
    @extend .mx-auto;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

#toolbar {
    @extend .pt-5;
    @extend .px-5;
    @extend .bg-light;
    @extend .text-center;
    @extend .text-dark;
    @extend .vstack;
    @extend .mx-auto;
    max-width: 1024px;

    .btn {
        @extend .mx-auto;
        @extend .my-3;
        @extend .shadow;
    }

    &.collapsed {
        @extend .py-3;
        @extend .px-5;
        @extend .shadow;
        @extend .sticky-top;
        @extend .hstack;
        @extend .align-items-baseline;
        @extend .justify-content-around;
        @extend .justify-content-md-between;

        .btn {
            @extend .m-0;
        }

        .date-location {
            @extend .hstack;
            @extend .mt-2;
            @extend .mx-3;
            white-space: nowrap;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        @include media-breakpoint-down(md) {
            padding-left: .5rem !important;
            padding-right: .5rem !important;
        }

        h3:not(:last-child)::after {
            @extend .mx-2;
            content: "\a0\b7"
        }
    }

    .title {
        font-family: "Arizonia", cursive;
        @extend .display-5;
        @extend .fw-bold;

        .ampersand {
            @extend .text-danger
        }
    }

    h3 {
        font-family: "Bebas Neue", cursive;
        @extend .text-center;
        @extend .align-middle;
        @extend .text-body;
        @extend .text-uppercase;
    }
}

#content {
    @extend .px-5;
    @extend .py-3;

    @include media-breakpoint-only(xs) {
        padding: 0 !important;
    }
}

.section {
    @extend .container-md;
    margin: 3rem auto 3rem auto;
    max-width: 1024px;

    h4 {
        @extend .text-uppercase;
        @extend .text-center;
        @extend .fw-bold;
        @extend .my-5;
    }
}

.gallery {
    @extend .p-0;
    @extend .shadow;
    margin-bottom: 5rem;

    img {
        @extend .w-100;
        @extend .d-block;
        @extend .rounded-3;
    }
}

.events {
    @extend .shadow;
    @extend .p-5;

    h5 {
        @extend .mb-4;
    }

    img.bitmoji {
        @extend .mx-auto;
        @extend .d-block;
        @extend .rounded-circle;
        @extend .border-3;
        @extend .border;
        @extend .shadow;
    }

    .date {
        @extend .row;
        @extend .my-5;

        .event {
            @extend .hstack;
            @extend .my-3;
            @extend .align-items-start;

            img {
                @extend .me-4;
                @extend .rounded-1;
            }

            .description {
                @extend .h-100;
                @extend .ps-4;
                @extend .border-start;
                @extend .border-2;

                @include media-breakpoint-down(sm) {
                    border: none !important;
                    padding: 0 !important;
                }
            }
        }
    }
}
